<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="float-left">Members</h1>

      <button type="button" class="btn btn-primary btn-new-member float-right" data-toggle="modal" data-target="#newMemberModal" (click)="resetNewMemberData()" [disabled]="requesting">
        <i class="fas fa-plus"></i> New Member
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Type</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="loading" *ngIf="requestingMembers">
            <td colspan="5">
              <i class="fas fa-spinner"></i>
            </td>
          </tr>
          <tr class="loading" *ngIf="members.length === 0 && !requestingMembers">
            <td colspan="5">
              <p>No members yet.</p>
            </td>
          </tr>
          <ng-container *ngIf="members.length !== 0 && !requestingMembers">
            <tr *ngFor="let member of members">
              <td>{{member.name}}</td>
              <td>{{member.email}}</td>
              <td>
                {{
                  member.userType === 2
                  ? 'Admin'
                  : 'Default'
                }}
              </td>
              <td class="buttons">
                <button type="button" class="btn btn-secondary btn-edit" data-toggle="modal" data-target="#editMemberModal" (click)="setMemberToEditData(member)" [disabled]="requesting">
                  <i class="fas fa-pen"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteMemberModal" (click)="setMemberToDeleteData(member)" [disabled]="requesting">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- New Member Modal -->
<div class="modal fade" id="newMemberModal" tabindex="-1" role="dialog" aria-labelledby="newMemberModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newMemberModal">New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="requesting">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form">
        <div class="modal-body">
          <p class="error">{{errorMessage}}</p>
          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control rounded-0" [(ngModel)]="newMemberData.name" name="name" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control rounded-0" [(ngModel)]="newMemberData.email" name="email" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" class="form-control rounded-0" [(ngModel)]="newMemberData.password" name="password" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="userType">User Type *</label>
            <select class="form-control rounded-0" [(ngModel)]="newMemberData.userType" name="userType" required [disabled]="requesting">
              <option [ngValue]="2">Admin</option>
              <option [ngValue]="3">Default</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="requesting">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="createNewMember()" [disabled]="requesting">Create New Member</button>
          <div class="loading" *ngIf="requesting">
            <i class="fas fa-spinner"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Member Modal -->
<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="editMemberModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMemberModal">Edit Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="requesting">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form">
        <div class="modal-body">
          <p class="error">{{errorMessage}}</p>
          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control rounded-0" [(ngModel)]="memberToEditData.name" name="name" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control rounded-0" [(ngModel)]="memberToEditData.email" name="email" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control rounded-0" [(ngModel)]="memberToEditData.password" name="password" required [disabled]="requesting">
          </div>
          <div class="form-group">
            <label for="userType">User Type *</label>
            <select class="form-control rounded-0" [(ngModel)]="memberToEditData.userType" name="userType" required [disabled]="requesting">
              <option [ngValue]="2">Admin</option>
              <option [ngValue]="3">Default</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="requesting">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="saveMember()" [disabled]="requesting">Save Member</button>
          <div class="loading" *ngIf="requesting">
            <i class="fas fa-spinner"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Confirm Delete Member Modal -->
<div class="modal fade" id="confirmDeleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteMemberModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteMemberModal">Delete Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="requesting">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="error">{{errorMessage}}</p>
        <p>You are about to delete {{memberToDeleteData.name}} ({{memberToDeleteData.email}}), are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="requesting">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteMember()" [disabled]="requesting">Yes</button>
        <div class="loading" *ngIf="requesting">
          <i class="fas fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div>